<template name ="jajal">

<head>
</head>
<body>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <div class="positioned">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1>Sorry !</h1>
          <h2>404 Error</h2>
        </div>
        <p>The Page You Requested Could Not Be Found On Our Server</p>
        <p>Go Back To The <a href="javascript:history.go(-1)">Previous Page</a> OR Visit Our <a href="#">Homepage</a></p>
      </div>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>
</template>