<template name="editor">
    <!--Navigation-->
    <style type="text/css">
        .active {
            background-color: #e3f2fd
        }
    </style>
    
     <div class="navbar">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">Hi, {{currentUser.username}}</a>
                    <ul class="right hide-on-med-and-down">
                        <li>{{> atNavButton}}</li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li>{{> atNavButton}}</li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="section no-pad-bot" id="index-banner">
        <h4 class="header text_bm1" style ="color = white">Code <span class="span_h2"> Editor</span> </h4> 
        
        <div class="row">
            <div class="valign-wrapper col s12 m12">
                <ul class="tabs valign">
                    <li class="tab col s6 m6"><a href="#editorPython"><img height="42" src="/img/LogoPy.png"></a></li>

                    <li class="tab col m6 s6"><a href="#editorRR"><img src="/img/Rlogo-1.png" height="42"></a></li>
                </ul>
            </div>

            <div id="editorPython" class="col s12"> <textarea id="editorPy"></textarea> </div>
            <div id="editorRR" class="col s12"><textarea id="editorR"></textarea></div>
        </div>
        
        <div>
            <button id = "button" class="btn waves-effect waves-light red darken-1" type="submit" style ="float:right;">Run
            </button>
            <h4 class="header text_bm1">Terminal <span> Code </span> </h4>
        </div>

        <textarea id="terminaleditor">
        </textarea>
    </div>

    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="footer-copyright default_color">
            <div class="container">
                Made by <a class="white-text" href="http://joashpereira.com">Joash Pereira</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
            </div>
        </div>
    </footer>

</template>