<template name="editor">
<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">OS Kelompok 3</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">Service</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>{{> atNavButton}}</li>
<!--                     <li><a class='dropdown-button btn' onclick="$('#modal1').openModal();">Login</a></li> -->
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Service</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>{{> atNavButton}}</li>
<!--                     <li><a class='dropdown-button btn' onclick="$('#modal1').openModal();">Login</a></li> -->
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h2 class="header text_bm1" style ="color = white">Code <span class="span_h2"> Editor</span> </h2> 

        <textarea id="editor"></textarea>
        <br>
        <button id = "button" class="btn waves-effect waves-light red darken-1" type="submit">Submit Code
        </button>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
    <h2 class="center header text_h2">Terminal <span class="span_h2"> Code </span> </h2> 
    <textarea id="terminaleditor">
    </textarea>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>

<footer id="contact" class="page-footer default_color scrollspy">
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://joashpereira.com">Joash Pereira</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>

<!-- <div class="row">
    <div id="modal1" class="modal col s12 m6 offset-m3">
        <div class="modal-content">
        {{> atForm}}
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div> -->
</template>