<template name="pageforbidden">
<div class="section no-pad-bot" id="index-banner">
	    <div class="container">
	        <h1 class="text_h center header cd-headline letters type">
	            <span>403 </span> 
	            <span class="cd-words-wrapper waiting">
	                <b class="is-visible">forbidden</b>
	                <b>terlarang</b>
	                <b>prohibido</b>
	                <b>금지 된</b>
	            </span>
	        </h1>
	        <h2 class="center header text_h2" style="font-style: italic; color: #FFFFFF;">Oops! You're not allowed to access the directory. <span class="span_h2m1">#forbidden</span></h2>
	    </div>
	</div>
</template>