<template name = "pagenotfound">
	<div class="section no-pad-bot" id="index-banner">
	    <div class="container">
	        <h1 class="text_h center header cd-headline letters type">
	            <span>404 </span> 
	            <span class="cd-words-wrapper waiting">
	                <b class="is-visible">not found</b>
	                <b>tidak ditemukan</b>
	                <b>extraviado</b>
	                <b>찾을 수 없습니다</b>
	            </span>
	        </h1>
	        <h3 class="center header text_h2" style="font-style: italic; color: #FFFFFF;"> Oh Dear I'm Sorry, the page you're looking for can<span class="span_h2m1">not</span> be <span class="span_h2m1">found</span>.</h3>
	    </div>
	</div>
</template>

