<template name="terminal">
	<input type="text" id="command">
  	<input type="button" id="button" value="Click" />

  	{{#if Template.subscriptionsReady}}
      <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      {{> atForm}}
    </ul>

  	<table class="striped centered">
        <thead>
          <tr>
              <th data-field="Date">Date</th>
              <th data-field="Command">Command</th>
              <th data-field="Output">Output</th>
          </tr>
        </thead>

        <tbody>
        {{#each Replies}}
          <tr>
            <td>{{date}}</td>
            <td>{{command}}</td>
            <td>{{message}}</td>
          </tr>
         {{/each}}
        </tbody>
      </table>
      {{/if}}

      <script type="text/javascript">
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
          }
        );
        </script>
</template>